body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--rose-100);
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 3rem 5rem;
  /* border: 2px solid red; */
  /* background-color: var(--rose-100); */
}
#menu {
  width: 70%;
  padding-top: 20px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 20px; */
  gap: 25px;
}

.list__item {
  max-width: 30%;
  min-width: 230px;
  display: flex;
  /* flex: 1 1 230px; */
  flex-direction: column;
  /* border: 2px solid red; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}
#cart_container {
  width: 30%;
  /* border: 2px solid red; */
}

.list__item__image {
  min-width: 220px;
  position: relative;
  margin-bottom: 15px;
}
.list__item__image img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}
.img_item:hover {
  /* border: 2px solid var(--red); */
  border-radius: 20px;
}
/* .list__item__decription {
} */
.list__item__decription span {
  color: var(--rose-300);
}
.name {
  font-weight: 600;
}
.price {
  color: var(--red);
  font-weight: 600;
}

.add__cart {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 7px;
  display: flex;
  border: 1px solid var(--rose-300);
  background-color: var(--rose-50);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  gap: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.add__cart p {
  font-weight: 400;
}

.add__cart__icon {
  max-width: 24px;
  height: 24px;
}
.active.add__cart {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
}
.quantity {
  color: var(--rose-50);
}
.icon__cart {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--rose-300);
  color: var(--rose-50);
}
.icon__cart:hover {
  background-color: var(--rose-50);
  color: var(--red);
}

.cart {
  width: 100%;
  padding: 20px;
  /* border: 2px solid red; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--rose-50);
  position: sticky;
  top: 30px;
}

#cart__title {
  color: var(--red);
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px; */
  border-radius: 15px;
}
.li__cart__empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.li__item__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--rose-300);
}
/* .li__item__cart:last-child {
  border-bottom: none;
} */
.quantity_price_item {
  display: flex;
  gap: 10px;
}
.icon__remove__item__cart {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--rose-300);
  border-radius: 50%;
  padding: 3px;
}
.div__price__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity_cart {
  color: var(--red);
  font-weight: 600;
}
.price_item_cart {
  color: var(--rose-300);
}
.total_item_cart {
  color: var(--rose-300);
  font-weight: 600;
}
.div__carbon__neutral {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rose-100);
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  /* color: var(--rose-); */
  font-weight: 400;
  font-size: 14px;
}
.span__carbon__neutral{
  font-weight: 600;
}
.button__checkout{
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: var(--red);
  color: var(--rose-50);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button__checkout:hover{
  opacity: 0.8;
}